*{
    box-sizing: content-box ;
    margin: 0;
    padding: 0;
}




#topmenu .toplogo img{
    margin-left: 50px;
    margin-top: 5px;
}
#topmenu .toplogo h1{
    display: inline;
    margin-top: 30px;
    font-family: 'lobster';
    font-size: 35px;
}
#topmenu .toplogo h1 span{
    color: orange;
}
#topmenu .toplogo{
    display: flex;
}
#navmenu{
    margin-left: 25%;
}
#navmenu li{
    display: inline;
    padding-top: 40px;
    padding-left: 80px;
    float: left;
    font-size: 40px;
    font-family: 'poppins';
    font-weight: 800;
}
#navmenu li a{
    text-decoration: none;
    color: black;
}
#navmenu li a img{
    height: 40px;
}




#topmenu{
    padding-left: 90px;
    padding-top: 100px;
}
.content{
    background: linear-gradient(100deg, white,white 52%, orange 7%);
}
#top{
    display: flex;
}
.top1{
    padding-left: 90px;
    padding-top: 100px;
}
#top .text1 .rain{
    font-family: 'poppins';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
#top .text1 .we{
    font-family: 'poppins';
    font-size: 30px;
    padding-top: 35px;
    text-align: center;
}
#order{
    align-items: center;
    margin-left: 10px;
    margin-top: 100px;
    height: 50px;
    width: 150px;
    color: white;
    background-clip: content-box;
    background-color: orange;
    border-radius: 50px;
}
#order h2{
    text-align: center;
    padding-top: 13px;
    font-family: 'poppins';
    font-size: 15px;

}
#order h2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#order h2 a:hover{
    color: black;
}
.top1{
    width: 50%;
    float: left;
    padding: 0x;
}
.top1 img{
    width: 50%;
    padding-top: 20px;
    padding-left: 85px;
}




#ksp{
    display: flex;
    background: whitesmoke;
    background-size: cover;
}
.ksp1{
    margin-top: 4%;
    margin-bottom: 8%;
    padding-top: 50px;
}
.ksp1 .ksp1a{
    margin-top: 40px;
}
.ksp1a{
    box-sizing: content-box;
    height: 90%;
    width: 25%;
    border: 2px solid orange;
    border-radius: 10px;
    float: left;
    padding: 15px;
    margin-top: 30px;
}
.ksp1b{
    box-sizing: content-box;
    height: 110%;
    width: 35%;
    border: 2px solid orange;
    border-radius: 10px;
    float: left;
    align-items: center;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.ksp1a img{
    width: 45%;
    margin-left: 25%;
    margin-bottom: 5px;
}
.ksp1b img{
    width: 50%;
    margin-left: 25%;
}
.ksp1b h3{
    font-family: 'poppins';
    text-align: center;
}
.ksp1b p{
    font-family: 'poppins';
    text-align: center;
    font-size: 15px;
    margin-top: 35px;
}
.ksp1a h3{
    font-family: 'poppins';
    text-align: center;
}
.ksp1a p{
    font-family: 'poppins';
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}




#menuT h4{
    text-align: center;
    font-size: 40px;
    font-family: 'poppins';
}
#menuT h4 span{
    color: #fec13d;
}
#menuT hr{
    border: chocolate solid 5px;
    width: 15%;
    margin-left: 42.4%;
}
.seek{
    display: flex;
}
.seek .seek1{
    border: 0px solid black;
    border-radius: 50px;
    width: 25%;
    height: 100%;
    margin: 5%;
    box-shadow: 0px 2px 4px 3px grey;
}
.seek .seek1 .burger{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;    
}
.seek .seek1 h4{
    font-family: 'poppins';
    text-align: center;
    margin-top: 5%;
    color: #330606;
}
.seek .seek1 p{
    font-family: 'poppins';
    font-size: 13px;
    text-align: center;
}
.seek .seek1 .ksh{
    display: flex;
    margin: 4%;
}
.seek .seek1 h5{
    font-family: 'poppins';
    margin-left: 5%;
    margin-top: 14%;
    font-size: 15px;
}
.seek .seek1 h5:hover{
    color: #fec13d;
}
.seek .seek1 .Scart{
    width: 9%;
    height: 45%;
    margin-left: 42%;
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #E1EBE6;
}




.offer{
    background-color: wheat;
    display: flex;
    width: 100%;   
}
.offer .texto{
    margin: 5%;
    width: 100%;
}
.offer .texto .the{
    font-family: 'poppins';
    font-weight: bold;
    font-size: 50px;
    margin-top: 10%; 
}
.offer .text1 .par1 span{
    color: yellow;
}
.offer .texto .taste{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5%;
}
.offer .dots{
    display: flex;
    margin-top: 10%;
    margin-left: 0%;  
}
.offer .dots .dot1{
    display: flex; 
}

.offer .dots .dot1a{
    display: flex;
    width: 50%;
    margin-top: 10.5px;
}
.offer .dot1a img{
width: 50%;   
margin-left: 20px;
padding-top: 8px;
}
.offer .dot1 .arrow1{
    width: 20%;
    margin-left: 20%;
}
.burge1{
    display: flex;
    margin-right: 10%;
    margin-top: 10%;
}
.burg1{
    position: relative;
    width: 100%;
}
.burg2{
    width: 100%; 
}
.burg1a{
    width: 100%;
    margin-left: 70%;
}
.burg2a{
    width: 100%;
}







.phone{
    background-color: #F6B400;
    width: 100%;
    display: flex;
}
.phone .textp{
    display: block;
}
.phone .textp .textp1{
    width: 100%;
    position: relative;

}
.phone .textp .textp1 p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20%;
    margin-left: 10%;
    
}
.phone .textp .download{
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}
.phone .textp .download .download1{
    width: 20%;
}
.phone .textp .download .download2{
    padding: auto;;
}
.phone .phoneimg {
    display: flex;
    
    margin-right: 10%;
    margin-top: 5%;
}
.phone .phoneimg .cell1{
    padding: 10%;
}
.phone .phoneimg .cell2{
    padding: 10%;
}




.footer{
    display: flex;
    background: whitesmoke;
}
.footer .ftlogo {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
}
.footer .ftlogo .fimg{
    margin-top: 25px;
}



.footer .ftlogo h2{
    font-family: 'lobster';
    font-size: 30px;
    margin-top: 50px;
}

.footer .ftlogo span{
    color: orange;
}


.footer .fttlinks{
    margin-left: 20%;
    margin-top: 25px;
}

.footer .ftlinks h3{
    font-family: 'poppins';
}
.footer .ftlinks ul{
list-style: none;
}
.footer .ftlinks li{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'poppins';
}

.footer .ftlinks li a{
    text-decoration: none;
    color: black;
}

.footer .ftlinks li a:hover{
    color: cyan;
}



.footer .subscribe{
    margin-left: 25%;
    margin-top: 25px;

}

.footer .subscribe .sub1 h3{
    font-family: 'poppins';
}

.footer .subscribe .sub-button{
    width: 70px;
    display: flex;
    margin-top: 20%;
    
}

.footer .subscribe .sub-button input{
    height: 10px;
}

.footer .subscribe .sub-button #sub-email{
    padding: 20px;
    border: solid 1px black;
    border-radius: 4px;

}

.footer .subscribe .sub-button #sub2{
    background-color: #f6b63b;
    color: white;
    padding: 21px;
    border: none;
    font-weight: bold;
}

.footer .subscribe .sub-button #sub2:hover{
    color: black;
}








.end{
    display: flex;
}

.end .copyright{
    margin: 10px;
}

.end .copyright p{
    font-family: 'poppins';
    font-size: 12px;
}

.end .socialmedia{
    display: flex;
    margin-top: 9px;
    margin-left: 30%;
}

.end .socialmedia img{
    width: 20px;
    padding-left: 15px;
}


.end .myname{
    margin-left: 10%;
    margin-top: 5px;
}

.end .myname p{
    font-family: 'poppins';
}