*{
    box-sizing: content-box ;
    margin: 0;
    padding: 0;
}




#topmenu .toplogo img{
    margin-left: 50px;
    margin-top: 5px;
}
#topmenu .toplogo h1{
    display: inline;
    margin-top: 30px;
    font-family: 'lobster';
    font-size: 35px;
}
#topmenu .toplogo h1 span{
    color: orange;
}
#topmenu .toplogo{
    display: flex;
}
#navmenu{
    margin-left: 25%;
}
#navmenu li{
    display: inline;
    padding-top: 40px;
    padding-left: 80px;
    float: left;
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 800;
}
#navmenu li a{
    text-decoration: none;
    color: black;
}
#navmenu li a img{
    height: 25px;
}




#topmenu{
    padding-left: 90px;
    padding-top: 100px;
}
.content{
    background: linear-gradient(100deg, white,white 52%, orange 7%);
}
#top{
    display: flex;
}
.top1{
    padding-left: 90px;
    padding-top: 100px;
}
#top .text1 .rain{
    font-family: 'poppins';
    font-weight: bold;
    font-size: 35px;
}
#top .text1 .we{
    font-family: 'poppins';
    font-size: 15px;
    padding-top: 35px;
}
#order{
    margin-left: 10px;
    margin-top: 100px;
    height: 50px;
    width: 150px;
    color: white;
    background-clip: content-box;
    background-color: orange;
    border-radius: 50px;
}
#order h2{
    text-align: center;
    padding-top: 13px;
    font-family: 'poppins';
    font-size: 15px;

}
#order h2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#order h2 a:hover{
    color: black;
}
.top1{
    width: 50%;
    float: left;
    padding: 0x;
}
.top1 img{
    width: 50%;
    padding-top: 20px;
    padding-left: 85px;
}

