html{
    background-color: whitesmoke;
}
body{
    margin: 0;
    padding: 0
}
.toplogo{
    font-style: oblique;
    font-weight: 700;
    font-size: xxx-large;
    text-decoration: none;
    text-align: left;
}
.toplist{
    text-align: right;
}
ul.toplist li{
    display: inline;
    margin-right: 60px;
    font-size: x-large;
    text-align: right;
}
#top1{
    background: linear-gradient(
        to right,
        white 0%,
        white 70%,
        yellow 30%,
        yellow 0%

    );
}

