html{
    background-color: whitesmoke;
   
}
body{
    margin: 0;
    padding: 0
}
.toplogo{
    font-style: oblique;
    font-weight: 700;
    font-size: xxx-large;
    text-decoration: none;
    text-align: left;
}
.toplist{
    text-align: right;
}
ul.toplist li{
    display: inline;
    margin-right: 60px;
    font-size: x-large;
    text-align: right;
}
#content{
    float: left;
    margin: 10px;
    padding: 20px;
    height: 20px;
}
.top1{
    text-align: center;
    background: linear-gradient(
        to right,
        white 0%,
        white 70%,
        orange 30%,
        orange 0%

    );
}
.rain{
    font-size: xx-large;
    font-family: 'Arial';
}
.we{
    font-weight: 400;
}
button{
    background-color: orange;
    border-radius: 10%;
}
footer{
    font-weight: bold;
    display: center;
    
}
footer a{
justify-content: right;
}
